.image-preview {
	position: relative;
	display: inline-block;
	text-align: center;
	.inset {
		position: absolute;
		bottom: 5px;
		left: 0px;
		width: 100%;
		background-color: white;
		text-align: center;
		opacity: .7;
	}
	.glyphicon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: transform(-50%, -50%);
		font-size: 50px;
		opacity: .5;
		color: white;
	}
	img, video {
		height: 200px;
		width: 200px;
		vertical-align: middle;
		background-color: black;
	}
}